.carousel-inner .carousel-item img {
    height: 700px;
}

.verticalbutton {
    position: fixed;
    top: 50%;
  }


  

@media only screen and (max-width: 200px) {
    .carousel-inner .carousel-item img {
        height: 70px;
    }
}

#ownerImg img {
    border: 0px;
    border-radius: 5%;
}

.img-fluid {
    box-shadow: 10px 5px 10px black;
}