<!-- ======= Header ======= -->
<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a routerLink="./home" class="logo d-flex align-items-center">
      <img src="assets/img/MC Garage-logo.png" alt="logo" style="margin-left: -40px;">
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a routerLink="home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="about" routerLinkActive="active">About</a></li>
        <li class="dropdown"><a routerLink="services" routerLinkActive="active"><span>Services</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="services#servicess">Servicing</a></li>
            <li><a href="services#wrapping">Wrapping</a></li>
            <li><a href="services#customAddition">Custom Addition</a></li>
          </ul>
        </li>
        <li class="dropdown"><a routerLink="onlineOrder" routerLinkActive="active"><span>Online Order</span> <i
              class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="onlineOrder#wraps">Wraps</a></li>
            <li><a href="onlineOrder#autoParts">Auto-Parts</a></li>
          </ul>
        </li>
        <li><a routerLink="customisation" routerLinkActive="active">Customisation</a></li>
        <li><a routerLink="contact" routerLinkActive="active">Contact</a></li>
        <li><a class="get-a-quote" routerLink="bookAppointment" routerLinkActive="active">Book Appointment</a></li>
        <li><a class="bi bi-person-circle" style="font-size: 25px;" routerLink="./login"></a></li>
      </ul>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
<!-- End Header -->
<router-outlet (deactivate)="onDeactivate()"></router-outlet>