h2 {
    color: #05337e;
    text-align: center;
}

form {
    margin-left: 45%;
}

button {
    border: 0;
    background-color: #05337e;
    color: white;
    box-shadow: 0 0 20px black;
}

button:hover {
    background-color: #05337e;
    color: rgb(241, 213, 213);
    box-shadow: 0 0 20px black;
}

button:active {
    border: 0;
    background-color: #05337e;
    color: white;
    box-shadow: 0 0 0;
}