ul {
    list-style: none;
}

.containerPrivacy {
   border: 1px solid white;
   margin-left: 2%;
   box-shadow: 5px 5px 30px rgb(119, 117, 117);
   width: auto;
   
}

#privacy  {
   text-align: center;
   color: #05337e;
}
li{
   width: 90vmax;
}
ul li {
   color: #05337e;
   text-align: justify;
}
#privacy {
   text-shadow: 0 0 10px black;
   animation-name: glow;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-direction: alternate;
}

@keyframes glow {
   from {
      text-shadow: 0 0 10px black;
   }

   to {
      text-shadow: 0 0 30px rgb(122, 102, 102);
   }
}