ul {
    list-style: none;
}

.containerPrivacy {
   border: 1px solid black;
   margin: 2%;
   box-shadow: 5px 5px 30px rgb(119, 117, 117);
   
}

#privacy  {
   text-align: center;
   color: #05337e;
}

ul li {
   color: #05337e;
   text-align: justify;
}