<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
            style="background-image: url('../../assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Online-Order</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li style="color: blue;">Home</li>
                    <li>Online-Order</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Online-Order Section ======= -->
    <!-- <<<<<<< HEAD -->
    <!-- ======= Pricing Section ======= -->


    <!-- ======= Wraps Section ======= -->
    <section id="wraps" class="">
        <div class="section-header">
            <span>Wraps</span>
            <h2>Wraps</h2>
        </div>
        
        <div class="card">
            <img src="../../assets/img/1.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Blue Shades</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>
       
    
        <div class="card">
            <img src="../../assets/img/2.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Colourful</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/3.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Dark Shades</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/4.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Pink to Blue</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/5.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Wrap</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/6.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Wrap</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/7.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Wrap</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/8.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Wrap</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>
    </section><!-- End Wraps Section -->

    <!-- ======= Auto-Parts Section ======= -->
    <section id="autoParts" class="">
        <div class="section-header">
            <span>Auto-Parts</span>
            <h2>Auto-Parts</h2>
        </div>

           
        <div class="card">
            <img src="../../assets/img/aftermarket alloy.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Alloy</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Alloy..</p>
            <p><button>Add to Cart</button></p>
        </div>
       
    
        <div class="card">
            <img src="../../assets/img/chromemuffler.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Muffler</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/gearstick.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Aftermarket Gear Sticks</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/headlight.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Headlight</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/part1.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Car part</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/rgbheadlight.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>RGB Headlight</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/roters.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Roters & Breaks</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/suspension.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2>Suspension</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>

        <div class="card">
            <img src="../../assets/img/turbo.jpg" alt="Wrap" style="width:230px" height="250px">
            <h2> AftermarketTurbo</h2>
            <p class="price">$19.99</p>
            <p>Some text about the Wrap..</p>
            <p><button>Add to Cart</button></p>
        </div>
    </section><!-- End Auto-Parts Section -->


   

</main><!-- End #main -->
<app-footer></app-footer>