<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
        <div class="page-header d-flex align-items-center"
            style="background-image: url('../../assets/img/page-header.jpg');">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h2>Online-Order</h2>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="container">
                <ol>
                    <li style="color: blue;">Home</li>
                    <li>Online-Order</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Wraps Section ======= -->
    <section id="wraps" class="cards">
        <div class="section-header">
            <span>Wraps</span>
            <h2>Wraps</h2>
        </div>
        <div id="cards-collection">
            <div class="card">
                <img src="../../assets/img/1.jpg" class="card-img-top" alt="Blue Shades" />
                <div class="card-body">
                    <h4 class="card-title">Blue Shades</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/2.jpg" class="card-img-top" alt="Colourful" />
                <div class="card-body">
                    <h4 class="card-title">Colourful</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/3.jpg" class="card-img-top" alt="Dark Shades" />
                <div class="card-body">
                    <h4 class="card-title">Dark Shades</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/4.jpg" class="card-img-top" alt="Pink to Blue" />
                <div class="card-body">
                    <h4 class="card-title">Pink to Blue</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/5.jpg" class="card-img-top" alt="Wrap" />
                <div class="card-body">
                    <h4 class="card-title">Wrap</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/6.jpg" class="card-img-top" alt="Wrap" />
                <div class="card-body">
                    <h4 class="card-title">Wrap</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/7.jpg" class="card-img-top" alt="Bubble Wrap" />
                <div class="card-body">
                    <h4 class="card-title">Bubble Wrap</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
            <div class="card">
                <img src="../../assets/img/8.jpg" class="card-img-top" alt="Wrap" />
                <div class="card-body">
                    <h4 class="card-title">Wrap</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </section><!-- End Wraps Section -->

    <!-- ======= Auto-Parts Section ======= -->
    <section id="autoParts" class="">
        <div class="section-header">
            <span>Auto-Parts</span>
            <h2>Auto-Parts</h2>
        </div>
        <div id="cards-collection">
            <div class="card">
                <img src="../../assets/img/aftermarket alloy.jpg" class="card-img-top" alt="Alloy" />
                <div class="card-body">
                    <h4 class="card-title">Alloy</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/chromemuffler.jpg" class="card-img-top" alt="Muffler" />
                <div class="card-body">
                    <h4 class="card-title">Muffler</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/gearstick.jpg" class="card-img-top" alt="Aftermarket Gear Sticks" />
                <div class="card-body">
                    <h4 class="card-title">Aftermarket Gear</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/headlight.jpg" class="card-img-top" alt="headlight" />
                <div class="card-body">
                    <h4 class="card-title">Headlight</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/part1.jpg" class="card-img-top" alt="Car Part" />
                <div class="card-body">
                    <h4 class="card-title">Car Part</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/rgbheadlight.jpg" class="card-img-top" alt="RGB Headlight" />
                <div class="card-body">
                    <h4 class="card-title">RGB Headlight</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/roters.jpg" class="card-img-top" alt="Roters & Breaks" />
                <div class="card-body">
                    <h4 class="card-title">Roters & Breaks</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/suspension.jpg" class="card-img-top" alt="Suspension" />
                <div class="card-body">
                    <h4 class="card-title">Suspension</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div class="card">
                <img src="../../assets/img/turbo.jpg" class="card-img-top" alt="After Market Turbo" />
                <div class="card-body">
                    <h4 class="card-title">After Market Turbo</h4>
                    <h5 class="card-title">$19.99</h5>
                    <p class="card-text">Some text about the Wrap..</p>
                    <a routerLink="cart" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>
        </div>
    </section><!-- End Auto-Parts Section -->




</main><!-- End #main -->
<app-footer></app-footer>