#forgotpw .container h2 {
    color: #05337e;
    text-align: center;
}

#forgotpw .container h4 {
    color: black;
    text-align: center;
}

.email {
    margin-left: 40%;
}

.send {
    margin-left: 40%;
    background-color: #05337e;
    color: white;
    border-color: #05337e;
    width: auto;
    border-radius: 5%;
    box-shadow: black;
    margin-left: 45%;
}

.resetButton button {
    background-color: #05337e;
    color: white;
    border-color: #05337e;
    width: auto;
    border-radius: 5%;
    box-shadow: 0 0 10px black;
    margin-left: -3%;
}